body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
    text-align: center;
    color: white;
}

h4 {
    text-align: center;
    color: white;
}

.link-button {
    text-decoration: none;
    background-color: lightpink;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    margin-top: 50px;

}

.header {
    background-image: url(images/donation13.jpg);
    background-repeat: repeat;
}

.center {
    text-align: center;
}

.black {
    color: black;
    font-size: 30px;
}

.box {
    display: inline-table;
    height: 60px;
    width: 70px;
    padding: 20px 10px;
    border: 2px solid white;
    border-radius: 3px;
    background-color: aliceblue;
    font-size: 30px;
    margin: 20px;

}

.red {
    background-color: rgb(242, 129, 129);
    border: 2px solid crimson
}

#input {
    background-color: white;
    border-bottom: 1px solid lightslategray;
}

.flexible-container {
    display: flex;
}

.food {
    display: inline-table;
    background-image: url(icons/food.png);
    background-repeat: no-repeat;
    background-position: top-left;
    text-align: left;
    height: 350px;
    width: 500px;
    padding: 50px 30px 30px;
    border: 2px solid white;
    border-radius: 3px;
    background-color: aliceblue;
    font-size: 20px;
    margin: 20px;

}

.shelter {
    display: inline-table;
    background-image: url(icons/shelter.png);
    background-repeat: no-repeat;
    background-position: top-left;
    text-align: left;
    height: 350px;
    width: 500px;
    padding: 50px 30px 30px;
    border: 2px solid white;
    border-radius: 3px;
    background-color: lightpink;
    font-size: 20px;
    margin: 20px
}

.education {
    display: inline-table;
    background-image: url(icons/Frame-1.png);
    background-repeat: no-repeat;
    background-position: top-left;
    text-align: left;
    height: 350px;
    width: 500px;
    padding: 50px 30px 30px;
    border: 2px solid white;
    border-radius: 3px;
    background-color: lightgoldenrodyellow;
    font-size: 20px;
    margin: 20px
}

.font-size {
    font-size: 20px;
}